html{
  font-size: 10px;
}
body {
  background-color: #fcfcfc;
}

header{
  background-color: green;
      height: 10rem;
}

.container {
    background-color: blue;
    height: 30rem;
}

#footer{
  background-color: gray;
  height: 15rem;
  border: .2rem;
}
