$font : arial, "sans-serif"

html
  font-size: 10px

body
  background-image: url(../images/Background.jpg)

a
  display: inline-block

img
  vertical-align: bottom
  border: 0

header
  overflow: hidden
  padding: 2.5rem
  background-color: white
  


.container
  background-color: blue
  height: 30rem
  border: 0 3px dashed gray

.one
  background-color: silver
  height: 25rem
  width: 33.3%
  margin: 2.5rem 0
  float: left
  &:hover
    background-color: aqua

#footer
  background-color: white
  height: 15rem
  border: black dashed .2rem
  text-align: center
  font-size: 2rem
  &:hover
    background-color: black
    color: white
