$font : arial, "sans-serif"

html
  font-size: 10px

body
  background-image: url(../images/Background1.jpg)

header
  background-color: red
  overflow: hidden
  border-top: dashed white .2rem
  &:hover
    background-color: white

.container
<<<<<<< HEAD
=======
  background-color: blue
>>>>>>> testiranje
  height: 30rem
  border: 0 3px dashed gray

.one
<<<<<<< HEAD
  background-color: #cecece
=======
  background-color: aqua
>>>>>>> testiranje
  height: 25rem
  width: 33.3%
  margin: 2.5rem 0
  float: left
  &:hover
<<<<<<< HEAD
    background-color: aqua

=======
    background-color: silver
>>>>>>> testiranje
#footer
  background-color: white
  height: 15rem
  border: black dashed .2rem
  text-align: center
  font-size: 2rem
  &:hover
    background-color: black
    color: white
