- var lang = "Srb"
doctype html
html
  head
    include includes/header
    title World cup
  body
    #wrapper
      header
        img(src="images/Logo.svg" alt="Logo")
        h1 World cup
      .container
        .one
        .one
        .one
      footer#footer
