- var lang = "Srb"
doctype html
html
  head
    include includes/header
    title World cup
  body
    #wrapper
      header
        a(href="index.html")
          img#logo(src="images/Logo.svg" alt="Logo")
      .container
        .one
        .one
        .one
      footer#footer
        p Footer da vidimo kako ide ovo!
